body {
  background-color: #fefbf5;
  font: normal 10pt Arial, Helvetica, sans-serif;
  color: #555;
  padding: 0;
  margin: 0;
}
#nowrap .nowrap {
  white-space: nowrap;
  dsadsa: dsad;
}
#hidden {
  display: none;
}
#label {
  font-size: 10pt;
  text-align: left;
  padding-left: 8pt;
  padding-top: 4pt;
}
.icon {
  width: 16pt !important;
  height: 16pt !important;
  cursor: hand;
  margin: 5px;
}
.btn {
  margin: 5px;
  background: #5a5655;
  color: #fff;
  padding: 2px 8px 2px 8px;
  text-align: center;
  border: 1px solid #5a5655;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  vertical-align: baseline;
}
.text {
  border: 1px solid #e0e0e0;
  width: 25px;
  padding: 1px 5px 1px 5px;
}
.ml16 {
  margin-left: 16pt;
}
body {
  padding: 0%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
