body {
  background-color: #fefbf5;
  font: normal 10pt Arial, Helvetica, sans-serif;
  color: #555;
  padding: 0;
  margin: 0;
}
#nowrap .nowrap {
  white-space: nowrap;
  dsadsa: dsad;
}
#hidden {
  display: none;
}
#label {
  font-size: 10pt;
  text-align: left;
  padding-left: 8pt;
  padding-top: 4pt;
}
.icon {
  width: 16pt !important;
  height: 16pt !important;
  cursor: hand;
  margin: 5px;
}
.btn {
  margin: 5px;
  background: #5a5655;
  color: #fff;
  padding: 2px 8px 2px 8px;
  text-align: center;
  border: 1px solid #5a5655;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  vertical-align: baseline;
}
.text {
  border: 1px solid #e0e0e0;
  width: 25px;
  padding: 1px 5px 1px 5px;
}
.ml16 {
  margin-left: 16pt;
}
#categories-frame,
#products-frame,
#total {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 0pt solid #808080;
  padding: 0;
  margin: 2pt;
  box-shadow: 1px 1px 4px #ccc, inset 0px 0px 8px #ccc;
  text-align: center !important;
}
#categories-frame {
  width: 180pt;
  float: left;
}
#products-frame {
  background-color: #fffdfb;
  float: left;
}
.item {
  cursor: hand;
}
.item img {
  width: 120pt;
  height: 120pt;
  padding: 2;
  margin: 2;
}
.value img {
  width: 120pt;
  height: 120pt;
  padding: 2;
  margin: 2;
}
.item:hover {
  box-shadow: 1px 1px 4px #ccc, inset 0px 0px 8px #ccc;
}
.item p:first-letter {
  font-size: 110%;
  font-style: italic;
}
table#total {
  width: total-width;
  height: auto;
  background-color: GhostWhite;
  font-size: 12pt;
  line-height: 0.75;
  padding: 0;
  margin: 0;
}
table#total th,
td {
  padding: 1px 5px 1px 5px;
}
table#total td {
  border: 0px solid #808080;
  border-width: 1px 0px 0px 0;
}
td.label {
  font-size: 11pt;
}
